<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>URL Shortener</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<div class="site-wrapper">
		<div class="header-wrapper">
			<header>
				<h3 class="brand">
					<a href="/">URL Shortener</a>
				</h3>
				<nav class="nav">
					<a href="https://github.com/smarulanda">
						<i class="fa fa-github-alt"></i>
						GitHub
					</a>
				</nav>
			</header>
		</div>
		<div class="main-wrapper">
			<main>